@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main__app__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Playfair Display', serif;
}

.weather__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 5px solid black;
  padding: 0 2rem;
  border-radius: 20px;
}

/* .weather__data__location {
} */

.weather__data__location__city {
  font-size: 1.5rem;
  margin-bottom: .3rem;
}

.weather__data__location__time {
  font-size: 1.2rem;

}

/* .weather__data__current {
  padding: 1rem;
} */

/* .weather__data__current__icon {

} */

.weather__data__temp {
  padding: 1rem;
}


.weather__data__temp__actual {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.number {
  font-family: 'Quicksand', sans-serif;
}

.weather__data__additional-info {
  padding: 1rem;
}

.weather__data__additional-info__humidity {
  margin-bottom: .4rem;
}

.weather__data__additional-info__wind {
  margin-bottom: .4rem;
}

.weather__data__additional-info__air-quality {
  margin-bottom: .4rem;
}

.weather__data__sun {
  padding: 1rem;
}

